body {background-color:#000000;font-family:arial;color:#ffffff}
h1{color:grey;font-family:verdana}
.maindiv {background-color:#ffffff;color:#000000;width=300px;padding:20px;border-radius:25px;align:center;}
table {border:0;border-spacing: 10px;}

